In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [5]:
df1 = pd.read_parquet('/home/administrator/dataset/NF-UNSW-NB15/NF-UNSW-NB15-V2_train.parquet', engine='pyarrow')

df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1251648 entries, 1605655 to 1597649
Data columns (total 40 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   PROTOCOL                     1251648 non-null  int16
 1   L7_PROTO                     1251648 non-null  float32
 2   IN_BYTES                     1251648 non-null  int32
 3   IN_PKTS                      1251648 non-null  int16
 4   OUT_BYTES                    1251648 non-null  int32
 5   OUT_PKTS                     1251648 non-null  int16
 6   TCP_FLAGS                    1251648 non-null  int8
 7   CLIENT_TCP_FLAGS             1251648 non-null  int8
 8   SERVER_TCP_FLAGS             1251648 non-null  int8
 9   FLOW_DURATION_MILLISECONDS   1251648 non-null  int32
 10  DURATION_IN                  1251648 non-null  int16
 11  DURATION_OUT                 1251648 non-null  int16
 12  MIN_TTL                      1251648 non-null  int16
 13  MAX_TTL                      1251648 non-null  int16
 14  LONGEST_FLOW_PKT             1251648 non-null  int16
 15  SHORTEST_FLOW_PKT            1251648 non-null  int16
 16  MIN_IP_PKT_LEN               1251648 non-null  int16
 17  MAX_IP_PKT_LEN               1251648 non-null  int16
 18  SRC_TO_DST_SECOND_BYTES      1251648 non-null  float32
 19  DST_TO_SRC_SECOND_BYTES      1251648 non-null  float32
 20  RETRANSMITTED_IN_BYTES       1251648 non-null  int32
 21  RETRANSMITTED_IN_PKTS        1251648 non-null  int16
 22  RETRANSMITTED_OUT_BYTES      1251648 non-null  int32
 23  RETRANSMITTED_OUT_PKTS       1251648 non-null  int16
 24  SRC_TO_DST_AVG_THROUGHPUT    1251648 non-null  int64
 25  DST_TO_SRC_AVG_THROUGHPUT    1251648 non-null  int64
 26  NUM_PKTS_UP_TO_128_BYTES     1251648 non-null  int16
 27  NUM_PKTS_128_TO_256_BYTES    1251648 non-null  int16
 28  NUM_PKTS_256_TO_512_BYTES    1251648 non-null  int16
 29  NUM_PKTS_512_TO_1024_BYTES   1251648 non-null  int16
 30  NUM_PKTS_1024_TO_1514_BYTES  1251648 non-null  int16
 31  TCP_WIN_MAX_IN               1251648 non-null  int32
 32  TCP_WIN_MAX_OUT              1251648 non-null  int32
 33  ICMP_TYPE                    1251648 non-null  int32
 34  ICMP_IPV4_TYPE               1251648 non-null  int16
 35  DNS_QUERY_ID                 1251648 non-null  int32
 36  DNS_QUERY_TYPE               1251648 non-null  int32
 37  DNS_TTL_ANSWER               1251648 non-null  int64
 38  FTP_COMMAND_RET_CODE         1251648 non-null  float32
 39  Label                        1251648 non-null  int8
dtypes: float32(4), int16(19), int32(10), int64(3), int8(4)
memory usage: 155.2 MB

In [6]:
df3 = pd.read_parquet('/home/administrator/dataset/NF-UNSW-NB15/NF-UNSW-NB15-V2_valid.parquet', engine='pyarrow')

df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59603 entries, 801769 to 1546978
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   PROTOCOL                     59603 non-null  int16
 1   L7_PROTO                     59603 non-null  float32
 2   IN_BYTES                     59603 non-null  int32
 3   IN_PKTS                      59603 non-null  int16
 4   OUT_BYTES                    59603 non-null  int32
 5   OUT_PKTS                     59603 non-null  int16
 6   TCP_FLAGS                    59603 non-null  int8
 7   CLIENT_TCP_FLAGS             59603 non-null  int8
 8   SERVER_TCP_FLAGS             59603 non-null  int8
 9   FLOW_DURATION_MILLISECONDS   59603 non-null  int32
 10  DURATION_IN                  59603 non-null  int16
 11  DURATION_OUT                 59603 non-null  int16
 12  MIN_TTL                      59603 non-null  int16
 13  MAX_TTL                      59603 non-null  int16
 14  LONGEST_FLOW_PKT             59603 non-null  int16
 15  SHORTEST_FLOW_PKT            59603 non-null  int16
 16  MIN_IP_PKT_LEN               59603 non-null  int16
 17  MAX_IP_PKT_LEN               59603 non-null  int16
 18  SRC_TO_DST_SECOND_BYTES      59603 non-null  float32
 19  DST_TO_SRC_SECOND_BYTES      59603 non-null  float32
 20  RETRANSMITTED_IN_BYTES       59603 non-null  int32
 21  RETRANSMITTED_IN_PKTS        59603 non-null  int16
 22  RETRANSMITTED_OUT_BYTES      59603 non-null  int32
 23  RETRANSMITTED_OUT_PKTS       59603 non-null  int16
 24  SRC_TO_DST_AVG_THROUGHPUT    59603 non-null  int64
 25  DST_TO_SRC_AVG_THROUGHPUT    59603 non-null  int64
 26  NUM_PKTS_UP_TO_128_BYTES     59603 non-null  int16
 27  NUM_PKTS_128_TO_256_BYTES    59603 non-null  int16
 28  NUM_PKTS_256_TO_512_BYTES    59603 non-null  int16
 29  NUM_PKTS_512_TO_1024_BYTES   59603 non-null  int16
 30  NUM_PKTS_1024_TO_1514_BYTES  59603 non-null  int16
 31  TCP_WIN_MAX_IN               59603 non-null  int32
 32  TCP_WIN_MAX_OUT              59603 non-null  int32
 33  ICMP_TYPE                    59603 non-null  int32
 34  ICMP_IPV4_TYPE               59603 non-null  int16
 35  DNS_QUERY_ID                 59603 non-null  int32
 36  DNS_QUERY_TYPE               59603 non-null  int32
 37  DNS_TTL_ANSWER               59603 non-null  int64
 38  FTP_COMMAND_RET_CODE         59603 non-null  float32
 39  Label                        59603 non-null  int8
dtypes: float32(4), int16(19), int32(10), int64(3), int8(4)
memory usage: 7.4 MB

In [7]:
df4 = pd.read_parquet('/home/administrator/dataset/NF-UNSW-NB15/NF-UNSW-NB15-V2_sample.parquet', engine='pyarrow')

df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 139073 entries, 1774165 to 1105898
Data columns (total 40 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   PROTOCOL                     139073 non-null  int16
 1   L7_PROTO                     139073 non-null  float32
 2   IN_BYTES                     139073 non-null  int32
 3   IN_PKTS                      139073 non-null  int16
 4   OUT_BYTES                    139073 non-null  int32
 5   OUT_PKTS                     139073 non-null  int16
 6   TCP_FLAGS                    139073 non-null  int8
 7   CLIENT_TCP_FLAGS             139073 non-null  int8
 8   SERVER_TCP_FLAGS             139073 non-null  int8
 9   FLOW_DURATION_MILLISECONDS   139073 non-null  int32
 10  DURATION_IN                  139073 non-null  int16
 11  DURATION_OUT                 139073 non-null  int16
 12  MIN_TTL                      139073 non-null  int16
 13  MAX_TTL                      139073 non-null  int16
 14  LONGEST_FLOW_PKT             139073 non-null  int16
 15  SHORTEST_FLOW_PKT            139073 non-null  int16
 16  MIN_IP_PKT_LEN               139073 non-null  int16
 17  MAX_IP_PKT_LEN               139073 non-null  int16
 18  SRC_TO_DST_SECOND_BYTES      139073 non-null  float32
 19  DST_TO_SRC_SECOND_BYTES      139073 non-null  float32
 20  RETRANSMITTED_IN_BYTES       139073 non-null  int32
 21  RETRANSMITTED_IN_PKTS        139073 non-null  int16
 22  RETRANSMITTED_OUT_BYTES      139073 non-null  int32
 23  RETRANSMITTED_OUT_PKTS       139073 non-null  int16
 24  SRC_TO_DST_AVG_THROUGHPUT    139073 non-null  int64
 25  DST_TO_SRC_AVG_THROUGHPUT    139073 non-null  int64
 26  NUM_PKTS_UP_TO_128_BYTES     139073 non-null  int16
 27  NUM_PKTS_128_TO_256_BYTES    139073 non-null  int16
 28  NUM_PKTS_256_TO_512_BYTES    139073 non-null  int16
 29  NUM_PKTS_512_TO_1024_BYTES   139073 non-null  int16
 30  NUM_PKTS_1024_TO_1514_BYTES  139073 non-null  int16
 31  TCP_WIN_MAX_IN               139073 non-null  int32
 32  TCP_WIN_MAX_OUT              139073 non-null  int32
 33  ICMP_TYPE                    139073 non-null  int32
 34  ICMP_IPV4_TYPE               139073 non-null  int16
 35  DNS_QUERY_ID                 139073 non-null  int32
 36  DNS_QUERY_TYPE               139073 non-null  int32
 37  DNS_TTL_ANSWER               139073 non-null  int64
 38  FTP_COMMAND_RET_CODE         139073 non-null  float32
 39  Label                        139073 non-null  int8
dtypes: float32(4), int16(19), int32(10), int64(3), int8(4)
memory usage: 17.2 MB

In [4]:
df1 = df1.drop(df1.columns[[0, 1]], axis=1)

df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1390721 entries, 1870980 to 1873416
Data columns (total 40 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   PROTOCOL                     1390721 non-null  int16
 1   L7_PROTO                     1390721 non-null  float32
 2   IN_BYTES                     1390721 non-null  int32
 3   IN_PKTS                      1390721 non-null  int16
 4   OUT_BYTES                    1390721 non-null  int32
 5   OUT_PKTS                     1390721 non-null  int16
 6   TCP_FLAGS                    1390721 non-null  int8
 7   CLIENT_TCP_FLAGS             1390721 non-null  int8
 8   SERVER_TCP_FLAGS             1390721 non-null  int8
 9   FLOW_DURATION_MILLISECONDS   1390721 non-null  int32
 10  DURATION_IN                  1390721 non-null  int16
 11  DURATION_OUT                 1390721 non-null  int16
 12  MIN_TTL                      1390721 non-null  int16
 13  MAX_TTL                      1390721 non-null  int16
 14  LONGEST_FLOW_PKT             1390721 non-null  int16
 15  SHORTEST_FLOW_PKT            1390721 non-null  int16
 16  MIN_IP_PKT_LEN               1390721 non-null  int16
 17  MAX_IP_PKT_LEN               1390721 non-null  int16
 18  SRC_TO_DST_SECOND_BYTES      1390721 non-null  float32
 19  DST_TO_SRC_SECOND_BYTES      1390721 non-null  float32
 20  RETRANSMITTED_IN_BYTES       1390721 non-null  int32
 21  RETRANSMITTED_IN_PKTS        1390721 non-null  int16
 22  RETRANSMITTED_OUT_BYTES      1390721 non-null  int32
 23  RETRANSMITTED_OUT_PKTS       1390721 non-null  int16
 24  SRC_TO_DST_AVG_THROUGHPUT    1390721 non-null  int64
 25  DST_TO_SRC_AVG_THROUGHPUT    1390721 non-null  int64
 26  NUM_PKTS_UP_TO_128_BYTES     1390721 non-null  int16
 27  NUM_PKTS_128_TO_256_BYTES    1390721 non-null  int16
 28  NUM_PKTS_256_TO_512_BYTES    1390721 non-null  int16
 29  NUM_PKTS_512_TO_1024_BYTES   1390721 non-null  int16
 30  NUM_PKTS_1024_TO_1514_BYTES  1390721 non-null  int16
 31  TCP_WIN_MAX_IN               1390721 non-null  int32
 32  TCP_WIN_MAX_OUT              1390721 non-null  int32
 33  ICMP_TYPE                    1390721 non-null  int32
 34  ICMP_IPV4_TYPE               1390721 non-null  int16
 35  DNS_QUERY_ID                 1390721 non-null  int32
 36  DNS_QUERY_TYPE               1390721 non-null  int32
 37  DNS_TTL_ANSWER               1390721 non-null  int64
 38  FTP_COMMAND_RET_CODE         1390721 non-null  float32
 39  Label                        1390721 non-null  int8
dtypes: float32(4), int16(19), int32(10), int64(3), int8(4)
memory usage: 172.4 MB

In [10]:
train, sample = train_test_split(df1, test_size=0.1, random_state=100)

In [11]:
train.to_parquet(f"/home/administrator/dataset/NF-UNSW-NB15/NF-UNSW-NB15-V2_train.parquet")

In [12]:
sample.to_parquet(f"/home/administrator/dataset/NF-UNSW-NB15/NF-UNSW-NB15-V2_sample.parquet")

In [8]:
df2 = pd.read_parquet('/home/administrator/dataset/NF-UNSW-NB15/NF-UNSW-NB15-V2_test.parquet', engine='pyarrow')

df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 536421 entries, 1370537 to 1360559
Data columns (total 40 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   PROTOCOL                     536421 non-null  int16
 1   L7_PROTO                     536421 non-null  float32
 2   IN_BYTES                     536421 non-null  int32
 3   IN_PKTS                      536421 non-null  int16
 4   OUT_BYTES                    536421 non-null  int32
 5   OUT_PKTS                     536421 non-null  int16
 6   TCP_FLAGS                    536421 non-null  int8
 7   CLIENT_TCP_FLAGS             536421 non-null  int8
 8   SERVER_TCP_FLAGS             536421 non-null  int8
 9   FLOW_DURATION_MILLISECONDS   536421 non-null  int32
 10  DURATION_IN                  536421 non-null  int16
 11  DURATION_OUT                 536421 non-null  int16
 12  MIN_TTL                      536421 non-null  int16
 13  MAX_TTL                      536421 non-null  int16
 14  LONGEST_FLOW_PKT             536421 non-null  int16
 15  SHORTEST_FLOW_PKT            536421 non-null  int16
 16  MIN_IP_PKT_LEN               536421 non-null  int16
 17  MAX_IP_PKT_LEN               536421 non-null  int16
 18  SRC_TO_DST_SECOND_BYTES      536421 non-null  float32
 19  DST_TO_SRC_SECOND_BYTES      536421 non-null  float32
 20  RETRANSMITTED_IN_BYTES       536421 non-null  int32
 21  RETRANSMITTED_IN_PKTS        536421 non-null  int16
 22  RETRANSMITTED_OUT_BYTES      536421 non-null  int32
 23  RETRANSMITTED_OUT_PKTS       536421 non-null  int16
 24  SRC_TO_DST_AVG_THROUGHPUT    536421 non-null  int64
 25  DST_TO_SRC_AVG_THROUGHPUT    536421 non-null  int64
 26  NUM_PKTS_UP_TO_128_BYTES     536421 non-null  int16
 27  NUM_PKTS_128_TO_256_BYTES    536421 non-null  int16
 28  NUM_PKTS_256_TO_512_BYTES    536421 non-null  int16
 29  NUM_PKTS_512_TO_1024_BYTES   536421 non-null  int16
 30  NUM_PKTS_1024_TO_1514_BYTES  536421 non-null  int16
 31  TCP_WIN_MAX_IN               536421 non-null  int32
 32  TCP_WIN_MAX_OUT              536421 non-null  int32
 33  ICMP_TYPE                    536421 non-null  int32
 34  ICMP_IPV4_TYPE               536421 non-null  int16
 35  DNS_QUERY_ID                 536421 non-null  int32
 36  DNS_QUERY_TYPE               536421 non-null  int32
 37  DNS_TTL_ANSWER               536421 non-null  int64
 38  FTP_COMMAND_RET_CODE         536421 non-null  float32
 39  Label                        536421 non-null  int8
dtypes: float32(4), int16(19), int32(10), int64(3), int8(4)
memory usage: 66.5 MB

In [6]:
df2 = df2.drop(df2.columns[[0, 1]], axis=1)

df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 596024 entries, 1873075 to 748941
Data columns (total 40 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   PROTOCOL                     596024 non-null  int16
 1   L7_PROTO                     596024 non-null  float32
 2   IN_BYTES                     596024 non-null  int32
 3   IN_PKTS                      596024 non-null  int16
 4   OUT_BYTES                    596024 non-null  int32
 5   OUT_PKTS                     596024 non-null  int16
 6   TCP_FLAGS                    596024 non-null  int8
 7   CLIENT_TCP_FLAGS             596024 non-null  int8
 8   SERVER_TCP_FLAGS             596024 non-null  int8
 9   FLOW_DURATION_MILLISECONDS   596024 non-null  int32
 10  DURATION_IN                  596024 non-null  int16
 11  DURATION_OUT                 596024 non-null  int16
 12  MIN_TTL                      596024 non-null  int16
 13  MAX_TTL                      596024 non-null  int16
 14  LONGEST_FLOW_PKT             596024 non-null  int16
 15  SHORTEST_FLOW_PKT            596024 non-null  int16
 16  MIN_IP_PKT_LEN               596024 non-null  int16
 17  MAX_IP_PKT_LEN               596024 non-null  int16
 18  SRC_TO_DST_SECOND_BYTES      596024 non-null  float32
 19  DST_TO_SRC_SECOND_BYTES      596024 non-null  float32
 20  RETRANSMITTED_IN_BYTES       596024 non-null  int32
 21  RETRANSMITTED_IN_PKTS        596024 non-null  int16
 22  RETRANSMITTED_OUT_BYTES      596024 non-null  int32
 23  RETRANSMITTED_OUT_PKTS       596024 non-null  int16
 24  SRC_TO_DST_AVG_THROUGHPUT    596024 non-null  int64
 25  DST_TO_SRC_AVG_THROUGHPUT    596024 non-null  int64
 26  NUM_PKTS_UP_TO_128_BYTES     596024 non-null  int16
 27  NUM_PKTS_128_TO_256_BYTES    596024 non-null  int16
 28  NUM_PKTS_256_TO_512_BYTES    596024 non-null  int16
 29  NUM_PKTS_512_TO_1024_BYTES   596024 non-null  int16
 30  NUM_PKTS_1024_TO_1514_BYTES  596024 non-null  int16
 31  TCP_WIN_MAX_IN               596024 non-null  int32
 32  TCP_WIN_MAX_OUT              596024 non-null  int32
 33  ICMP_TYPE                    596024 non-null  int32
 34  ICMP_IPV4_TYPE               596024 non-null  int16
 35  DNS_QUERY_ID                 596024 non-null  int32
 36  DNS_QUERY_TYPE               596024 non-null  int32
 37  DNS_TTL_ANSWER               596024 non-null  int64
 38  FTP_COMMAND_RET_CODE         596024 non-null  float32
 39  Label                        596024 non-null  int8
dtypes: float32(4), int16(19), int32(10), int64(3), int8(4)
memory usage: 73.9 MB

In [13]:
test, valid = train_test_split(df2, test_size=0.1, random_state=100)

In [14]:
test.to_parquet(f"/home/administrator/dataset/NF-UNSW-NB15/NF-UNSW-NB15-V2_test.parquet")

In [15]:
valid.to_parquet(f"/home/administrator/dataset/NF-UNSW-NB15/NF-UNSW-NB15-V2_valid.parquet")

In [3]:
df = pd.read_parquet('/home/administrator/dataset/NF-UNSW-NB15/NF-UNSW-NB15-V2.parquet', engine='pyarrow')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1986745 entries, 0 to 1986744
Data columns (total 43 columns):
 #   Column                       Dtype
---  ------                       -----
 0   L4_SRC_PORT                  int32
 1   L4_DST_PORT                  int32
 2   PROTOCOL                     int16
 3   L7_PROTO                     float32
 4   IN_BYTES                     int32
 5   IN_PKTS                      int16
 6   OUT_BYTES                    int32
 7   OUT_PKTS                     int16
 8   TCP_FLAGS                    int8
 9   CLIENT_TCP_FLAGS             int8
 10  SERVER_TCP_FLAGS             int8
 11  FLOW_DURATION_MILLISECONDS   int32
 12  DURATION_IN                  int16
 13  DURATION_OUT                 int16
 14  MIN_TTL                      int16
 15  MAX_TTL                      int16
 16  LONGEST_FLOW_PKT             int16
 17  SHORTEST_FLOW_PKT            int16
 18  MIN_IP_PKT_LEN               int16
 19  MAX_IP_PKT_LEN               int16
 20  SRC_TO_DST_SECOND_BYTES      float32
 21  DST_TO_SRC_SECOND_BYTES      float32
 22  RETRANSMITTED_IN_BYTES       int32
 23  RETRANSMITTED_IN_PKTS        int16
 24  RETRANSMITTED_OUT_BYTES      int32
 25  RETRANSMITTED_OUT_PKTS       int16
 26  SRC_TO_DST_AVG_THROUGHPUT    int64
 27  DST_TO_SRC_AVG_THROUGHPUT    int64
 28  NUM_PKTS_UP_TO_128_BYTES     int16
 29  NUM_PKTS_128_TO_256_BYTES    int16
 30  NUM_PKTS_256_TO_512_BYTES    int16
 31  NUM_PKTS_512_TO_1024_BYTES   int16
 32  NUM_PKTS_1024_TO_1514_BYTES  int16
 33  TCP_WIN_MAX_IN               int32
 34  TCP_WIN_MAX_OUT              int32
 35  ICMP_TYPE                    int32
 36  ICMP_IPV4_TYPE               int16
 37  DNS_QUERY_ID                 int32
 38  DNS_QUERY_TYPE               int32
 39  DNS_TTL_ANSWER               int64
 40  FTP_COMMAND_RET_CODE         float32
 41  Label                        int8
 42  Attack                       object
dtypes: float32(4), int16(19), int32(12), int64(3), int8(4), object(1)
memory usage: 261.5+ MB

In [4]:
df['Label'].value_counts()

Label
0    1911666
1      75079
Name: count, dtype: int64